@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --eloking-primary: #080F28;
  --eloking-dark: #000;
  --eloking-white: #fff;
  --eloking-purple: #4842D1;
  --eloking-primary-gradient: linear-gradient(135deg, #258CBF 0%, #4ED3BE 100%);
  --eloking-text-color: #979AAE;
}

body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.5;
  background: var(--eloking-primary);
  color: var(--eloking-white);
}

a {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--eloking-primary);
}

a:hover {
  text-decoration: none;
  color: var(--eloking-primary);
  opacity: 0.8;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1032px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1032px;
  }
}

a.dropdown-item {
  color: #fff;
}

.dropdown-menu.show {
  background: #232b46;
  color: #fff;
}

/* scroll bar */

.scrollbar-gradient::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar-gradient::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

/* scroll bar end */

/* scroll top */

#scrollTop {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--eloking-primary);
  width: 34px;
  height: 34px;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 90;
  cursor: pointer;
  box-shadow: 0 3px 15px rgb(0 0 0 / 30%);
}

#scrollTop:hover {
  background-color: var(--eloking-primary);
}

#scrollTop:after {
  content: "\e5ce";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  color: var(--eloking-dark);
}

#scrollTop.show {
  opacity: 1;
  visibility: visible;
}

/* scroll top end */

/* Button */

.ThemeBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  min-height: 40px;
  padding: 14px 26px;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 1px;
  gap: 7px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), var(--eloking-primary-gradient);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px var(--eloking-primary) inset;
  overflow: hidden;
}

.ThemeBtn span {
  background: var(--eloking-primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 100;
}

.ThemeBtn:hover {
  animation-name: rubberBand;
  color: var(--eloking-white);
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1, 0.9, 1);
  }

  40% {
    transform: scale3d(0.9, 1, 1);
  }

  50% {
    transform: scale3d(1, 0.9, 1);
  }

  65% {
    transform: scale3d(.9, 1, 1);
  }

  75% {
    transform: scale3d(1, .9, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* Button end */

.CustomBg {
  background-color: var(--eloking-primary) !important;
}

.nav-link {
  color: var(--eloking-text-color);
  font-size: 14px;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--eloking-white);
}

.dropdown-toggle::after {
  display: none;
}

.Inner-wrapper {
  border-radius: 24px 24px 0px 0px;
  border: 2px solid #232B46;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 152px;
  background-image: url(../img/Bitmap.webp);
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  background-color: #979aae08;
  position: relative;
  overflow: hidden;
}

.Inner-wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 96px;
  background: linear-gradient(0deg, rgba(5, 10, 32, 0.00) 0%, #050A20 100%);
  top: 0;
}

.Inner-wrapper:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 96px;
  background: linear-gradient(180deg, rgba(5, 10, 32, 0.00) 0%, #050A20 100%);
  bottom: 0;
}

.LeftShadow {
  position: absolute;
  left: 0;
  height: 100%;
  width: 96px;
  background: linear-gradient(270deg, rgba(5, 10, 32, 0.00) 0%, #050A20 100%);
  top: 0;
}

.RightShadow {
  position: absolute;
  right: 0;
  height: 100%;
  width: 96px;
  background: linear-gradient(90deg, rgba(5, 10, 32, 0.00) 0%, #050A20 100%);
  top: 0;
}

.LoginForm {
  max-width: 416px;
  min-width: 416px;
  padding: 0px 40px;
  position: relative;
  z-index: 99;
}

.HighLight {
  background: var(--eloking-primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.LoginTitle {
  max-width: 180px;
  text-align: center;
  margin: auto;
  font-weight: 600;
}

input {
  /*padding: 24px !important;*/
  padding: 16px 24px !important;
  border-radius: 8px !important;
  border: 2px solid #232B46 !important;
  background-color: #050A20 !important;
  color: var(--eloking-white) !important;
  height: 80px !important;
  font-size: 16px !important;
}

input:focus {
  border: double 2px transparent !important;
  background-image: linear-gradient(#050A20, #050A20),
    linear-gradient(to right, #258CBF, #4ED3BE) !important;
  background-origin: border-box;
  background-clip: padding-box, border-box !important;
  box-shadow: none !important;
}

input::placeholder {
  color: var(--eloking-white);
  font-size: 16px !important;
}

.form-floating>label {
  top: 12px !important;
  padding: 16px 26px !important;
  font-size: 16px !important;
}

.form-floating>.form-control-plaintext:focus,
.form-floating>.form-control-plaintext:not(:placeholder-shown),
.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 2.5rem !important;
  padding-bottom: 0.625rem;
}

.btn-primary {
  background-color: var(--eloking-purple);
  border-radius: 30px;
  border-color: var(--eloking-purple);
  padding: 16px 40px;
  font-size: 14px;
  color: var(--eloking-white);
  min-width: 152px;
}

.btn-primary:hover {
  background-color: var(--eloking-primary);
  border-color: #232B46;
}

.GoogleIcon a {
  background: #fff;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FaceBookIcon a {
  background: #4267B2;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.UserLink {
  font-size: 14px;
  background: var(--eloking-primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.BootmImage {
  padding-top: 68px;
}

.ReadyKing {
  border-radius: 0px 0px 12px 12px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  background: #4842D1;
  position: relative;
}

.ContentWarper {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 334px;
  max-width: 334px;
  text-align: center;
  margin: auto;
}

.KingHighlight {
  color: var(--eloking-white);
}

.ContentWarper h2 {
  color: #D2D0FF;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1px;
}

.btn-dark {
  background: #050A20;
  border-radius: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  padding: 16px 40px;
}

.Footer {
  padding-top: 140px;
  padding-bottom: 140px;
}

.BadgesIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #232B46;
}

.FooterMenu h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.FooterMenu li a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.Line {
  margin: 70px 0px;
  width: 40px;
  height: 2px;
  background-color: var(--eloking-purple);
}

.disclaimer p {
  color: #979AAE;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.disclaimer {
  padding-top: 74px;
}

.alertMessage {
  padding: 16px 24px;
  border: double 2px transparent !important;
  background-image: linear-gradient(#232B46, #232B46),
    linear-gradient(to right, #fb6d7a, #c52374) !important;
  background-origin: border-box;
  background-clip: padding-box,
    border-box !important;
  box-shadow: none !important;
  border-radius: 8px;
}

.ModalMeta p {
  color: #888;
  font-size: 16px;
}

.ModalMeta {
  text-align: center;
}

.ModalMeta h3 {
  color: #000;
}

.btn-close {
  position: absolute;
  right: 15px;
}

.btn-success {
  padding: 10px 30px;
  border-radius: 30px;
  color: #fff;
  background: #5dc90a;
  border-color: #5dc90a;
}

.btn-success:hover {
  background: #438f09;
  border-color: #438f09;
}